@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

/*Home Page*/
body {
    background-color: #ffffff;
    font-family: 'Ubuntu','Courier New', monospace;
    font-size: 1.5vw;
    margin: 0;
    padding: 0;
}
#car-img {
    width: 100%;
    padding-top: 30px;
}
.home-title {
    color: #000000;
    font-family: 'Rock Salt','Courier New', monospace;
    font-size: 4vw;
    text-align: center;
}
#car-title {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 50px;
}
#car {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-bottom: 30px;
}
#car-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
.home-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 50px;
}
.home-img {
    width: 100%;
}
.home-img-2 {
    width: 100%;
}
/* End Home Page*/


/* History Page*/
.history-title {
    color: #000000;
    font-family: 'Rock Salt','Courier New', monospace;
    font-size: 4vw;
    text-align: center;
}
.history-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 50px;
}
.history-img {
    width: 100%;
}
.history-img2 {
    width: 100%;
    padding-bottom: 30px;
}
/* End History Page*/


/* Car Builds Page*/
.builds-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4,1fr);
    grid-gap: 50px;
}
.builds-img1 {
    width: 100%;
}
.builds-img2 {
    width: 100%;
    
}
.builds-img3 {
    width: 100%;
}
.builds-img4 {
    width: 100%;
}
.builds-img5 {
    width: 100%;
}
.builds-img6 {
    width: 100%;
}
.builds-title {
    color: #000000;
    font-family: 'Rock Salt','Courier New', monospace;
    font-size: 4vw;
    text-align: center;
}
/* End Car Builds Page*/


/* Header, Footer, Content*/
#content {
    max-width: 1600px;
    margin: 0 auto;
}
header {
    display: grid;
    grid-template-columns: 100px auto;
    background-color: #6C698D;
}
.logo {
    max-width: 200px;
    padding: 20px;
    border-radius: 30px;
}
nav {
    display: flex;
    justify-content: space-around;
    margin-top: 38px;
}
nav a {
    text-align: center;
    background-color: #6C698D;
    color: #ffffff;
    text-decoration: none;
    font-size: 1.5vw;
    padding: 10px;
}
nav a:hover {
    background-color: #BFAFA6;
    color: #ffffff;
    border-radius: 10px
}
footer {
    background-color: #6C698D;
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a {
    text-align: center;
    color: #ffffff;
    text-decoration: none;
}
footer p {
    font-size: 1.5vw;
}    
footer a:hover {
    text-decoration: underline;
}